@charset "UTF-8";

@-moz-document url(chrome://browser/content/browser.xhtml){

.scrollbox-clip,
.customization-target,
#PanelUI-button,
#personal-bookmarks,
#PersonalToolbar,
html {
  background-color: #252221 !important;
}

#tabbrowser-tabpanels,
#tabbroser-tabbox,
#appcontent {
  background-color: #252221 !important;
}

.browserContainer {
  border: solid 5px #252221 !important;
}

.bookmark-item {
  background-color: #413c3a !important;
  fill: #c8baa4 !important;
  color: #c8baa4 !important;
  margin-inline: 5px !important;
  margin-bottom: 7px !important;
  padding-inline: 9px !important;
  border-radius: 999px !important;

  image {
    border-radius: 4px !important;
  }
}

#sidebar-button {
  image {
    background-color: #413c3a !important;
  }
}

/*     .urlbar-input-box {
        background-color: #413c3a !important;
        margin-inline: 200px;
        padding-inline: 1pc;
        border-radius: 10px;
    } */

#tabbrowser-tabs {
  border: none !important;
}

#TabsToolbar {
  border-left: 6px solid #252221 !important;
}

body {
  --toolbar-field-focus-border-color: #413c3a !important;
}

menuitem,
arrowscrollbox {
  background-color: #252221 !important;
  color: #c8baa4 !important;
}

menuitem:hover {
  background-color: #413c3a !important;
}

.toolbarbutton-1 {
  fill: #998396 !important;
}
}
