@charset "UTF-8";

@-moz-document url("about:home"), url("about:newtab") {
  .logo-and-wordmark {
    display: none !important;
  }

  body {
    --newtab-background-color-secondary: #252221 !important;
    --newtab-text-primary-color: #c8baa4 !important;
    --newtab-search-icon: url(file://./assets/google.png) !important;
  }

  .search-wrapper .search-inner-wrapper:active input,
  .search-wrapper input:focus {
    box-shadow: none !important;
    border: 3px solid #413c3a !important;
  }
}
