@use "sass:string";
@use "../palette";

window#Launcher {
    all: unset;
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    background-color: transparent;

    box.Launcher {
        background-color: palette.$base00;
        border-radius: 20px;
        border: 1pt solid palette.$base02;
        margin: 1px;
        padding: 0.8rem;

        entry {
            padding: 0.5rem;

            &:focus {
                border: none;
            }
        }

        button {
            min-width: 0;
            min-height: 0;
            padding: 0.5rem;

            icon {
                font-size: 3em;
                margin-right: 0.3rem;
            }

            label.name {
                font-weight: bold;
                font-size: 1.1em;
            }

            label.description {
                color: palette.$base04;
            }
        }

        box.not-found {
            padding: 1rem;

            icon {
                font-size: 6em;
                color: palette.$base05;
            }

            label {
                color: palette.$base05;
                font-size: 1.2em;
            }
        }
    }
}
