* {
  all: unset;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  color: #575279;
}

#image.nixos {
  margin-left: 20px;
}

window#waybar {
  background-color: #faf4ed;
}

#custom-files, #custom-edit, #custom-view, #custom-term, #custom-chat, #custom-help {
  font-weight: 400;
}

#image.toggles {
  margin-right: 7px;
}

#clock {
  margin-right: 20px;
}
