@use "sass:string";

$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Powermenu {
  background-color: $bg-color;
  border-radius: 15px;

  box.main {
    padding: 0 10px;
    border-radius: 15px;

    button {
      font-size: 40px;
      padding: 10px;
      margin: 20px 10px;
      border-radius: 15px;
    }
  }
}
