@use "sass:string";

$fg: #{"@theme_fg_color"};
$bg: #{"@theme_bg_color"};
$accent: #b87aff;

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

window.Menu {
  background-color: $bg;
  color: $fg;
  font-family: "Cascadia Code";
  font-size: 16px;
  border-radius: 15px;

  box.main {
    background-color: inherit;
    border-radius: inherit;

    padding: 20px;

    box.quicks {
      box.row {
        button {
          padding: 10px;
          margin: 10px 9px;
          border-radius: 15px;
          min-width: 170px;
          background-color: gtkalpha($fg, 0.1);

          icon {
            padding: 0 10px 0 3px;
            font-size: 22px;
          }

          .qslabel {
            margin: 0 0 3px 0;
          }

          &.active {
            background-color: $accent;
            color: $bg;
          }

          &:hover {
            background-color: gtkalpha($fg, 0.2);
          }

          &.active:hover {
            background-color: gtkalpha($accent, 0.9);
          }
        }
      }
    }

    box.volumebox {
      icon {
        font-size: 22px;
      }

      trough {
        background-color: gtkalpha($fg, 0.1);
        min-height: 30px;
        border-radius: 100px;
      }

      highlight {
        background-color: $accent;
        min-height: 30px;
        border-radius: 100px;
      }

      slider {
        all: unset;
      }
    }

    box.userbox {
      box.avatar {
        min-width: 100px;
        min-height: 100px;
        background-size: 100px;
        border-radius: 15px;
      }

      label.username {
        font-size: 30px;
      }
    }

    box.musicbox {
      margin: 10px;

      box.cover {
        min-width: 100px;
        min-height: 100px;
        background-size: 100px;
        border-radius: 15px;
        margin-right: 10px;
      }

      box.data {
        label.title {
          font-size: 20px;
        }

        label.artist {
          color: gtkalpha($fg, 0.6);
        }

        button {
          margin: 0 5px;
          border-radius: 100px;
          padding: 0 7px;
        }

        trough {
          background-color: gtkalpha($fg, 0.1);
          min-height: 10px;
          border-radius: 100px;
        }

        highlight {
          background-color: $accent;
          min-height: 10px;
          border-radius: 100px;
        }

        slider {
          all: unset;
        }
      }
    }
  }
}
