@use "sass:string";

$fg: #c9c7cd;
$bg: #000000;
$accent: #aca1cf;

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

* {
    all: unset;
}

window.Bar {
    background-color: #00000088;
    color: $fg;
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;

    box.main {
        min-height: 64px;
    }

    box.main box.start box.workspaces {
        margin: 17px 0;
        margin-left: 20px;

        box {
            border-radius: 8px;
            background-color: #c9c7cd33;
            margin: 0 5px;
            padding: 0;

            label.workspace {
                margin: 0 10px;
            }

            box.clients {
                margin: 0;
                padding: 5px;
                background-color: transparent;

                box.client {
                    background-color: transparent;

                    label.class {
                        margin-left: 5px;
                    }

                    icon {
                        font-size: 20px;
                    }
                }
            }

            &.focused {
                background-color: #c9c7cd66;
            }
        }
    }

    box.main box.end {
        margin-right: 25px;

        box.tray {
            margin: 10px;
            icon {
                font-size: 20px;
            }

            button {
                menu {
                    background-color: #000000;
                    border-radius: 20px;
                    padding: 20px;

                    * {
                        padding: 2px;
                    }
                }
            }
        }

        icon.bt,
        icon.wifi,
        icon.volume {
            font-size: 20px;
            margin: 3px;
        }

        box.separator-wrapper {
            box.separator {
                all: unset;
                min-width: 2px;
                min-height: 20px;
                margin: 0 15px;
                background-color: $fg;
            }
        }

        box.timegroup {
            margin-left: 5px;

            label.holiday {
                color: #c9c7cd88;
            }
        }
    }
}
