@use "sass:string";

$fg: #c9c7cd;
$bg: #000000;
$accent: #aca1cf;

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

* { all: unset; }

window.Bar {
  background-color: #00000099;
  color: $fg;
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;

  centerbox box.start box.workspaces {
    margin: 10px 0;
    margin-left: 20px;

    box {
      border-radius: 8px;
      background-color: #00000044;
      margin: 0 5px;
      padding: 0;

      label.workspace {
        margin: 0 10px;
      }

      box.clients {
        margin: 0;
        padding: 3px 5px;
        background-color: transparent;

        box.client {
          background-color: transparent;

          label.class {
            margin-left: 5px;
          }

          icon {
            font-size: 20px;
          }
        }
      }

      &.focused {
        background-color: #c9c7cd33;
      }
    }
  }
}
