@use "sass:string";
@use "../palette";

window#NotificationPopups {
    all: unset;
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    background-color: transparent;
}

eventbox.Notification {
    &:first-child > box {
        margin-top: 15px;
    }

    > box {
        border: 1pt solid palette.$base02;
        min-width: 400px;
        border-radius: 20px;
        background-color: palette.$base00;
        margin: 7px 15px;
        box-shadow: none;
    }

    &.critical > box {
        border: 1pt solid palette.$base08;

        .header {
            .app-name {
                color: palette.$base07;
            }

            .app-icon {
                color: palette.$base07;
            }
        }
    }

    .header {
        padding: 0.5rem;
        color: palette.$base00;

        .app-icon {
            margin: 0 0.4rem;
        }

        .app-name {
            margin-right: 0.3rem;
            font-weight: bold;

            &:first-child {
                margin-left: 0.4rem;
            }
        }

        .time {
            margin: 0 0.4rem;
        }

        button {
            padding: 0.2rem;
            min-width: 0;
            min-height: 0;
        }
    }

    separator {
        margin: 0 0.4rem;
        background-color: palette.$base00;
    }

    .content {
        margin: 1rem;
        margin-top: 0.5rem;

        .summary {
            font-size: 1.2em;
            color: palette.$base00;
        }

        .body {
            color: palette.$base00;
        }

        .image {
            border: 1px solid palette.$base00;
            margin-right: 0.5rem;
            border-radius: 9px;
            min-width: 100px;
            min-height: 100px;
            background-size: cover;
            background-position: center;
        }
    }

    .actions {
        margin: 1rem;
        margin-top: 0;

        button {
            margin: 0 0.3rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
